# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- To understand the Programming languages necessary for data science such as Python, R, SQL, Java,etc.
- To understand which Tools that are used for data science such as R studios, Jupyter Notebooks, GITHUB,etc.
- To understand which libraries are used for data science such as Pandas, ggplot2 and TensorFlow.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot2
3. TensorFlow

|Data Science Tools|
|------------------|
|JupyterLabs|
|R Studios|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tshiamo